.scoreboard {

    top: 20px;
    border: 15px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex: 0 0 100%;
}

.left {
    background-color: rgba( 78, 78, 78, 0.6 );
    border-radius: 5px;
    display: flex;
    width: 200px;
    height: 25px;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 10px;
}

.center {
    background-color: rgba( 78, 78, 78, 0.6 );
    border-radius: 5px;
    display: flex;
    width: 600px;    
    height: 45px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.centerTime {
    background-color: rgba( 38, 38, 38, 1 );
    border-radius: 5px;
    display: flex;
    width: 150px;    
    height: 150px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position:absolute;
    left:50%;
    margin-left:-75px;
    margin-top:-25px;
}

.right {
    background-color: rgba( 78, 78, 78, 0.6 );
    border-radius: 5px;
    display: flex;
    width: 200px;
    height: 25px;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    padding: 10px;
}